<?xml version="1.0" encoding="UTF-8"?>
<?pde version="3.2"?>

<target name="definition">

   <launcherArgs>
      <programArgs>org.osgi.framework.system.packages=sun.misc</programArgs>
      <vmArgs>org.osgi.framework.system.packages=sun.misc</vmArgs>
   </launcherArgs>

   <location useDefault="true"/>

   <content useAllPlugins="true">
      <plugins>
      </plugins>
      <features>
      </features>
      <extraLocations>
         <location path="${project_loc}/../repo"/>
         <location path="${project_loc}/../daisy.pipeline.site/target/site"/>
         <location path="${project_loc}/../daisy.pipeline.frontend.site/target/site"/>
         <location path="${project_loc}/../test"/>
      </extraLocations>
   </content>

</target>
